.responsiveTable {
  overflow-x: auto;
  border-radius: 0.8rem;

  & table {
    width: 100%;
    min-width: 64rem;
    font-size: 1.6rem;
    border-collapse: collapse;
  }

  & th {
    background-color: var(--gray-600);
    user-select: none;
    transition: all 0.1s ease-in-out;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      cursor: pointer;

      &:hover {
        filter: brightness(80%);
      }
    }
  }

  & td {
    background-color: var(--gray-800);
  }

  & th,
  & td {
    border-bottom: 0.2rem solid var(--gray-700);
    text-align: left;
    padding: 1.6rem;
  }
}

.emptyMessage {
  font-size: 2.4rem;
  text-align: center;
  color: var(--text-muted);
}
